* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
.container {
  width: 100%;
  background: rgba(255, 255, 255, 1);
  overflow: hidden;
}
.header {
  width: 100%;
  height: 87px;
  background: url("../images/v16_47.png") center center no-repeat;
  background-size: cover;
  position: relative;
}
.header-bg {
  width: 100%;
  height: 100%;
  background: rgba(217, 217, 217, 1);
}
.header-overlay-left, .header-overlay-right {
  width: 356px;
  height: 100%;
  background: rgba(168, 164, 164, 1);
  position: absolute;
  top: 0;
}
.header-overlay-left {
  right: 0;
  border-bottom-left-radius: 90px;
}
.header-overlay-right {
  left: 0;
  border-top-right-radius: 90px;
}
.header-button-right-login{
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-size: 20px;
  color: black;
  padding: 35px;
  top: 5px;
  text-decoration: none;
}

.header-button-left-register{
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-size: 20px;
  color: black;
  padding: 25px;
  top: 5px;
  text-decoration: none;
}

.header-button-left, .header-button-right, .header-button-center {
  width: 116px;
  height: 35px;
  background: rgba(217, 217, 217, 1);
  border-radius: 15px;
  position: absolute;
  top: 26px;
  z-index: 1; /* add this line */
  

}

.header-button-left {
  right: 150px;
}
.header-button-right {
  right: 20px;
}
.header-button-center {
  right: 85px;
}

.promo-section {
  width: 100%;
  max-width: 616px;
  height: 390px;
  margin: auto;
  position: relative;
  background: url("../images/v16_61.png") center center no-repeat;
  background-size: cover;
  margin-top: 20px;
}
.promo-bg {
  width: 100%;
  height: 100%;
  background: rgba(217, 217, 217, 1);
}
.promo-circle {
  width: 317px;
  height: 134px;
  background: rgba(179, 179, 179, 1);
  border-radius: 50%;
  position: absolute;
}
.promo-circle-top {
  top: 34px;
  left: 51px;
}
.promo-circle-bottom {
  top: 228px;
  left: 51px;
}
.promo-item {
  width: 152px;
  height: 148px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.promo-item-left {
  top: 20px;
  left: 427px;
  background: url("../images/v16_69.png") center center no-repeat;
  background-size: cover;
}
.promo-item-right {
  top: 221px;
  left: 427px;
  background: url("../images/v16_65.png") center center no-repeat;
  background-size: cover;
}
.promo-item-bg {
  width: 100%;
  height: 100%;
  background: rgba(179, 179, 179, 1);
}
.promo-item-text {
  color: #fff;
}

.best-sell-section {
  width: 100%;
  max-width: 1200px;
  height: 298px;
  margin: auto;
  position: relative;
  background: url("../images/v16_73.png") center center no-repeat;
  background-size: cover;
  margin-top: 20px;
}
.best-sell-bg {
  width: 100%;
  height: 100%;
  background: rgba(217, 217, 217, 1);
}
.best-sell-item {
  width: 292px;
  height: 195px;
  position: absolute;
  top: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.best-sell-item-left {
  left: 97px;
  background: url("../images/v16_75.png") center center no-repeat;
  background-size: cover;
}
.best-sell-item-middle {
  left: 514px;
  background: url("../images/v16_79.png") center center no-repeat;
  background-size: cover;
}
.best-sell-item-right {
  left: 931px;
  background: url("../images/v16_84.png") center center no-repeat;
  background-size: cover;
}
.best-sell-item-bg {
  width: 100%;
  height: 100%;
  background: rgba(179, 179, 179, 1);
}
.best-sell-item-text {
  color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header {
    height: auto;
    background-size: contain;
    padding: 10px;
  }
  .header-overlay-left, .header-overlay-right {
    display: none;
  }
  .header-button-left, .header-button-right {
    width: 80px;
    height: 30px;
    top: 10px;
    position: static;
    margin: 5px;
    display: inline-block;
  }
  .promo-section, .best-sell-section {
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .promo-item, .best-sell-item {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .promo-circle {
    width: 50%;
    height: auto;
    top: 10px;
    left: 25%;
  }
}

@media (max-width: 480px) {
  .header {
    text-align: center;
  }
  .header-button-left, .header-button-right {
    width: 60px;
    height: 25px;
    margin: 5px;
  }
  .promo-item, .best-sell-item {
    font-size: 10px;
  }
}



/* ############################################################################### */
/* Register */

.form-container {
  width: 638.33px;
  height: 809.46px;
  position: absolute;
  left: 600px;
  top: 147px;
}

.form-container .form-background {
  width: 575px;
  height: 809.46px;
  background: #D9D9D9;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.form-container .form-content {
  width: 462.50px;
  height: 664.50px;
  background: white;
  position: absolute;
  top: 74.22px;
  left: 56.25px;
}

.form-group {
  position: absolute;
  width: 411.71px;
  height: 74.22px;
}

.form-group.header {
  top: 0;
  left: 36px;
  width: 341px;
  height: 80px;
}

.form-group.name {
  top: 104px;
}

.form-group.surname {
  top: 192px;
}

.form-group.email {
  top: 280px;
}

.form-group.password {
  top: 368px;
  left: 1px;
}

.form-group.submit {
  top: 507px;
  left: 222px;
  width: 309.33px;
  height: 75.38px;
}

.form-group .input-background,
.form-group .submit-background,
.form-group .header-background {
  width: 359.38px;
  height: 74.22px;
  background: #D9D9D9;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.form-group.header .header-background {
  width: 279px;
  height: 80px;
  border-radius: 30px;
}

.form-group.submit .submit-background {
  width: 150px;
  height: 75.38px;
}

.form-group .input-label,
.form-group .submit-label,
.form-group .header-title {
  width: 290px;
  height: 42px;
  color: black;
  font-size: 35px;
  font-weight: 400;
  word-wrap: break-word;
  position: absolute;
  top: 16.44px;
  left: 121.71px;
}

.form-group.header .header-title {
  height: 61px;
  left: 72px;
  top: 19px;
}

.form-group.surname .input-label,
.form-group.email .input-label {
  left: 97.71px;
}

.form-group.submit .submit-label {
  top: 16.22px;
  left: 19.33px;
}
