.Accueil {
  width: 1440px;
  height: 1024px;
  position: relative;
  background: white;
}

.Navback {
  width: 1440px;
  height: 87px;
  left: 0px;
  top: 0px;
  position: absolute;
}

.Rectangle1 {
  width: 1440px;
  height: 87px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #D9D9D9;
}

.Rectangle2 {
  width: 356px;
  height: 87px;
  left: 1084px;
  top: 0px;
  position: absolute;
  background: #A9A5A5;
  border-top-left-radius: 90px;
}

.Rectangle3 {
  width: 356px;
  height: 87px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #A9A5A5;
  border-top-left-radius: 90px;
}

.Rectangle4 {
  width: 116px;
  height: 35px;
  left: 1288px;
  top: 26px;
  position: absolute;
  background: #D9D9D9;
  border-radius: 15px;
}

.Other {
  width: 616px;
  height: 390px;
  left: 759px;
  top: 556px;
  position: absolute;
}

.Rectangle10 {
  width: 616px;
  height: 390px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #D9D9D9;
}

.Ellipse3 {
  width: 317px;
  height: 134px;
  left: 51px;
  top: 34px;
  position: absolute;
  background: #B3B3B3;
  border-radius: 9999px;
}

.Ellipse4 {
  width: 317px;
  height: 134px;
  left: 51px;
  top: 228px;
  position: absolute;
  background: #B3B3B3;
  border-radius: 9999px;
}

.Image2 {
  width: 152px;
  height: 148px;
  position: absolute;
}

.Rectangle12 {
  width: 152px;
  height: 148px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #B3B3B3;
}

.Line8 {
  width: 212.15px;
  height: 0px;
  left: 0px;
  top: 0px;
  position: absolute;
  transform: rotate(44.24deg);
  transform-origin: 0 0;
  border: 1px black solid;
}

.Line9 {
  width: 212.15px;
  height: 0px;
  left: 152px;
  top: 0px;
  position: absolute;
  transform: rotate(135.76deg);
  transform-origin: 0 0;
  border: 1px black solid;
}

.Caroussel {
  width: 1310px;
  height: 298px;
  left: 65px;
  top: 169px;
  position: absolute;
}

.Rectangle7 {
  width: 1310px;
  height: 298px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #D9D9D9;
}

.Image {
  width: 292px;
  height: 195px;
  position: absolute;
}

.Rectangle11 {
  width: 292px;
  height: 195px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #B3B3B3;
}

.Line6 {
  width: 350.02px;
  height: 0px;
  left: 0px;
  top: 0px;
  position: absolute;
  transform: rotate(33.46deg);
  transform-origin: 0 0;
  border: 1px black solid;
}

.Line7 {
  width: 350.02px;
  height: 0px;
  left: 292px;
  top: 0px;
  position: absolute;
  transform: rotate(146.54deg);
  transform-origin: 0 0;
  border: 1px black solid;
}

.Most {
  width: 616px;
  height: 390px;
  left: 71px;
  top: 556px;
  position: absolute;
}

.Rectangle8 {
  width: 616px;
  height: 390px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #D9D9D9;
}

.Ellipse1 {
  width: 317px;
  height: 134px;
  left: 248px;
  top: 49px;
  position: absolute;
  background: #B3B3B3;
}

.Ellipse2 {
  width: 317px;
  height: 134px;
  left: 248px;
  top: 243px;
  position: absolute;
  background: #B3B3B3;
  border-radius: 9999px;
}

.Promo1 {
  width: 199px;
  height: 65px;
  position: absolute;
  color: black;
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

.BestSell1 {
  width: 199px;
  height: 65px;
  position: absolute;
  color: black;
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}
